.card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 2rem;
  }

  /* media query for mobile devices */
  @media (max-width: 768px) {
    .card {
      margin-top: 1.2rem;
      padding: 0.8rem;
    }
  }